
:root{
   
    --dark-10: #ffffff;
    --dark-20: #14202C;
    --color-3: rgb(2,36,89);
    --color-4: rgb(1,49,159);
    --white:#ffffff;
    --borderInput:#E8E8E8;
    --corInput:#F7FAFC;
}
/********Letras******/
div#body_login{
    background-image: url('./img/7.jpg');
   
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    height: 810px;
}
.letra1{

  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-size:7rem;
  font-variation-settings:"slnt" 0,"CRSV" 0.5,"ELSH" 0,"ELXP" 0;

}
.letra1_2{

  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"slnt" 0,"CRSV" 0.5,"ELSH" 0,"ELXP" 0;

}

.letra2{
   font-family: "Literata", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size:3rem;
  color:#ffffff;
  font-style: normal;
}

.letra3{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


#container{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width:100%;
    height:662px;
  
}
#container section.row{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width:100%;

}

div.icon-login{
     
    background-image: url('/img/login.png');
    background-size:110px;
    background-repeat:no-repeat;
    background-position:center;
    width:100%;
    height:100px;
    border-radius: 2px;
}
#part2{
    opacity:blur(100px);
    width:50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#part2 h2{
margin:3px 0 12px 0;
}
form#formLogin{
    width:290px;
}


.btnLogin{
    width:100%;
    padding:14px 0 14px 0;
    margin:50px 0 10px 0;
    background-color: var(--color-3);
    color:var(--white);
    cursor:pointer;
    border: none;
    border-radius: 4px;
}

.btnLogin:hover{
    transition: 0.5s;
    background-color:var(--color-4);
  
}

.btnLoginGoogle{
    width:100%;
    padding:14px 0 14px 5%;
    margin:10px 0 10px 0;
    background-color: var(--dark-20);
    color:var(--white);
    cursor:pointer;
    border-radius: 4px;
    display: flex;
    border: none;
    align-items: center;
    
    
}
.btnLoginGoogle img{
    width:30px;
    padding-right: 8px;
 
}
.btnLoginGoogle:hover{
    transition: 0.5s;
    background-color:rgb(119, 6, 6) ;
  
    
}

div.container p{
    text-align:center;
    margin-top:50px;
    font-size: 15px;
    font-family: sans-serif;
}


@media(max-width:675.9px){
   
#container section.row{
   flex-direction: column;
    margin-bottom: 15px;
   align-items: center;

}


#part1{
    margin:0 0 5% 0;
    height:290px;
    width:100%;
    background-size:100%;
   
}

form#formLogin{
    width:280px;
    transition: 2s ; /* Aplica transição lenta em todos os estilos */
           
}

div.container p{
    margin-top:0;
}
   #part1{
    margin-bottom:-50px;
    background-size:60%;

}
 #container section.row{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width:100%;
    padding-top:25px;

} 
}
      

@media(min-width:1px) and (max-width:674.9px){
    #part1{
 display: none;
}

  #part2{
 margin-top: -10%;

}
#container section.row{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width:100%;
    padding-top:25px;

}
}